header{
    width: 80%;

    align-self: center;

    display: flex;
    justify-content: space-between;

    div:first-child{
        h2{

        }
        p{

        }
    }
    .none{
        display: none;
    }
    div:nth-child(n+2){

        display: flex;

        span{
            margin-right: .6em;
            align-self: center;
        }
        button{
            height: 1.7em;
            width: 3.3em;
            border-radius: 30px;
            border: none;

            align-self: center;
        }
        button::after{
            content: '';
            background-color: black;
            height: 5px;
            width: 5px;
            border-radius: 50%;

        }
    }
}