@import'../components/variables';

header{
    height: 15%;
    width: 80%;

    align-self: center;
    display: flex;
    justify-content: space-between;

    div:first-child{
        align-self: center;
        h1{
            @include animacion();
        }
        p{
            color: $azulGO;
        }
    }
    .none{
        display: none;
    }
    div:nth-child(n+2){
        width: 9em;
        display: flex;
        align-self: center;
        justify-content: space-between;

        span{
            @include font_size;
            color: $azulGO;
            align-self: center;
        }
        button{
            height: 1.9em;
            width: 3.8em;
            border-radius: 30px;
            background-color: $toggleL;
            border: none;
            align-self: center;
            cursor: pointer;
            
            &:hover{
                background-image: $toggleD;  
            }
            
            &::after{
                content: "";
                display: block;
                background-color: $azulMP;
                height: 72%;
                width: 34.5%;
                border-radius: 100%;
                position: relative;
                left: 28px; //right: 5px 
                @include animacion();
                
            }
        }
    }
}