main{
    height: 85%;
    width: 80%;

    align-self: center;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    article{

        display: flex;
        justify-content: space-between;
    }

    article:first-child{
        height: 37%;
    
        .cardLg{
            height: 90%;
            width: 23%;
            padding-bottom: 3%;
            background-color: $azulGC;
            border-radius: 5px;

            align-self: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &:hover{
                cursor: pointer;
                &::after{
                    content: '';
                    background-color: $toggleL;
                    border-radius: 5px;
                    display: block;
                    position: absolute;
                    opacity: 15%;
                    width: 18.4%;
                    height: 28.1%;
                }
            }

            &::before{
                content: '';
                width: 100%;
                height: 5px;
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
            }

            div:first-child{
                @include font-size();
                align-self: center;
                display: flex;

                img{
                    align-self: center;
                    padding-right: 10px;
                }
                
                span{
                    color: $azulGO;
                    align-self: center;
                }

            }
            div:nth-child(2){
                align-self: center;

                display: flex;
                flex-direction: column;
                
                span{
                    font-size: 3.8em;
                    align-self: center;
                }
                p{
                    color: $azulGO;
                    font-size: .8em;
                    font-weight: 400;
                    letter-spacing: .5em;
                    text-align: center;
                }
            }
            div:nth-child(3){
                @include font-size();
                align-self: center;
                
                display: flex;

                img{
                    height: .35em;
                    padding-right: .2em;
                    align-self: center;
                }
            }
        }
    }

    article:nth-child(2){
        height: 60%;
        padding: 1% 0 4% 0;

        flex-direction: column;
        justify-content: space-around;

        h1{
            color: $azulGO;
            padding-bottom: .5em;
        }
        div {
            height: 38%;
            display: flex;
            justify-content: space-between;

            .cardSm{
                height: 100%;
                width: 23%;
                border-radius: 5px;
                background-color: $azulGC;
                @include hover_card_l();

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &:hover{
                    cursor: pointer;
                    &::after{
                        content: '';
                        background-color: $toggleL;
                        border-radius: 5px;
                        display: block;
                        position: absolute;
                        opacity: 15%;
                        width: 18.4%;
                        height: 16.4%;
                    }
                }

                div:first-child{
                    padding: 10% 12% 0%;
                    
                    span{
                        color: $azulGO;
                        @include font-size();
                        align-self: center;
                        
                    }
                    img{
                        height: 20px;
                        align-self: center;
                    }
                }

                div:nth-child(2){
                    
                    padding: 0% 12% 10% ;
                    h2{
                        font-size: 2em;
                        height: min-content;
                        align-self: center;
                    }
                    div{
                        padding: 0%;
                        height: min-content;

                        align-self: flex-end;
                        img{
                            height: .35em;
                            padding-right: .2em;
                            align-self: center;
                        }
                        p{
                            @include font-size();
                        }
                    }
                }

            }
        }
    }
}