@import'variables';
@import'mixins';

.darkBody{
    background-color: $azulMO;
    color: $blanco; 

    &::before{
        background-color: $azulMOBG;
    }
    .darkbtn{
        background-image: $toggleD;
        &:hover{
            background-image: none;
            background-color: $toggleL;
        }
        &::after{
            content: "";
            display: block;
            background-color: $azulMP;
            height: 72%;
            width: 34.5%;
            border-radius: 100%;
            position: relative;
            left: 5px; //right: 5px 
            background-color: $azulOP; 
        }
    }
    .heading{
        color: $blanco
    }
    main{
        article:first-child{
            .darkCard{
                background-color: $azulOP;
            }
        }
        article:nth-child(2){
            .row{
                .darkCard{
                    background-color: $azulOP;
                }
            }
        }
    }
}


