@mixin font_size{
    font-size: 14px;
}

@mixin hover_card{
    &:hover{
        cursor: pointer;
        &::after{
            content: '';
            background-color: $toggleL;
            border-radius: 5px;
            display: block;
            position: absolute;
            opacity: 15%;
            width: 18.45%;
            height: 7.5em;
        }
    }
}

@mixin animacion{
    transition: .6s all ease-out;
}