* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .row {
  width: 100%;
}

header {
  height: 20%;
  width: 80%;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header div:first-child {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header .none {
  display: none;
}

header div:nth-child(n+2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

header div:nth-child(n+2) span {
  margin-right: 1em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header div:nth-child(n+2) button {
  height: 2em;
  width: 4em;
  border-radius: 30px;
  border: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header div:nth-child(n+2) button::after {
  content: '';
  background-color: black;
  height: 5px;
  width: 5px;
  border-radius: 50%;
}

main {
  height: 80%;
  width: 80%;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main article:first-child {
  height: 40%;
}

main article:first-child section {
  height: 90%;
  width: 23%;
  background-color: gray;
  border-top: 5px solid black;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main article:first-child section div:first-child {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main article:first-child section div:nth-child(2) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main article:first-child section div:nth-child(2) span {
  font-size: 4em;
}

main article:first-child section div:nth-child(2) p {
  text-align: center;
}

main article:first-child section div:nth-child(3) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main article:nth-child(2) {
  height: 60%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main article:nth-child(2) div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=syles.css.map */